.browse-container {
  display: grid;
  padding-left: 1.8rem;
  padding-right: 10rem;
  grid-template-columns: repeat(auto-fill, minmax(12rem, 1fr));
  font-family: 'Mukta',
    sans-serif;
  font-weight: 300;

  &>div>img {
    height: 12rem;

    &:hover {
      cursor: pointer;
    }
  }

  &>div {
    position: relative;
  }

  &>div>p.category-title {
    text-align: center;
    position: absolute;
    top: 70%;
    left: 100px;
    transform: translate(-50%, -50%);
  }

  &::before {
    content: '';
    width: 0;
    grid-row: 1 / 1;
    grid-column: 1 / 1;
  }

  &>*:first-child {
    grid-row: 1 / 1;
    grid-column: 1 / 1;
  }

  &>* {
    background: $color-dark;
  }
}

.browse-view-menu {
  font-family: 'Mukta',
    sans-serif;
  font-weight: 700;
  background-color: $color-dark;
  padding-top: 2rem;
  padding-left: 1.8rem;
  padding-bottom: 2rem;
  display: flex;
  text-transform: uppercase;
  color: $color-gray;
  font-size: .8rem;

  &>p {
    padding-right: 1.4rem;
    letter-spacing: .09rem;

    &:hover {
      cursor: pointer;
      color: $color-white;
      transition: color 0.5s;
    }
  }
}