.browse-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(14rem, 1fr));
  grid-auto-rows: 1fr;
  grid-gap: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;

  &::before {
    content: '';
    width: 0;
    padding-bottom: 100%;
    grid-row: 1 / 1;
    grid-column: 1 / 1;
  }

  &>*:first-child {
    grid-row: 1 / 1;
    grid-column: 1 / 1;
  }

  &>* {
    background: rgba(0, 0, 0, 0.1);
    border: 1px white solid;
  }
}

.browse-view-menu {
  background-color: $color-dark;
  padding-top: 2rem;
  padding-left: 1rem;
  padding-bottom: 2rem;
  display: flex;
  text-transform: uppercase;
  color: $color-white;
  font-size: .8rem;

  &>p {
    padding-right: 1.4rem;
    letter-spacing: .09rem;

    &:hover {
      cursor: pointer;
    }
  }
}