.container__main-view--content {
  height: 84%;
  overflow-y: scroll;
  color: $color-white;
  background-color: $color-dark;
}

.artist-img {
  border-radius: 50%;
  margin-top: 2rem;
  object-fit: cover;
}

.artist-container {
  text-align: center;
}