.container__main-view--content {
  height: 85vh;
  overflow-y: scroll;
  color: $color-white;
  background-color: $color-dark;
  display: flex;
  flex-direction: column;
  padding-left: 1rem;
  padding-top: 1rem;
  padding-bottom: 6.5rem;
}

.artist-img {
  border-radius: 50%;
  margin-top: 2rem;
  object-fit: cover;
}

.artist-container {
  text-align: center;
}