.song-list-title-row {
  font-family: 'Mukta',
    sans-serif;
  font-weight: 300;
  display: flex;
  border-bottom: .005rem solid rgb(54, 54, 54);
  padding-top: .6rem;
  padding-bottom: .6rem;

  &>.song-title,
  >.song-artist,
  >.song-album,
  >.song-date,
  >.song-duration {
    text-transform: uppercase;
    font-size: .8rem;
    letter-spacing: .1rem;
    color: $color-gray;
  }

  &:hover {
    background-color: rgb(41, 41, 41);
    cursor: pointer;
  }

  &>.song-list-col-5 {
    display: inline-block;
    width: 100%;
    padding-right: 2rem;
  }
}

.play-favorites {
  display: inline-block;
  margin: 20px;
  font-family: 'Heebo',
    Helvetica,
    Arial,
    sans-serif;
  font-weight: 500;
  width: 6.4rem;
  border: none;
  border-radius: 15px;
  font-size: 11px;
  letter-spacing: 0.07em;
  text-transform: uppercase;
  line-height: 24px;
  padding-top: .3rem;
  padding-bottom: .2rem;
  color: $color-white;
  background-color: $color-green;
  transform: translate(-3.3rem, -.9rem);

  &:focus {
    outline: 0;
  }

  &:hover {
    cursor: pointer;
  }
}

i.far.fa-calendar {
  // height: 1rem;
  font-size: .9rem;
}