.container__main-view--topHeader {
  background-color: #181818;
  color: #fff;

  display: flex;
  flex-direction: row;
  width: inherit;

  & .topHeader-left-side {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    position: relative;
    align-content: center;
  }

  .profile-img {
    height: 2rem;
    border-radius: 50%;
  }
}